/* Base Styles */
body {
    font-family: Arial, sans-serif; /* Set base font */
    color: #333; /* Set base text color to dark grey */
    background-color: #f4f4f4; /* Set light grey background color */
    font-size: 16px; /* Set base font size */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

/* Header Styles */
header {
    background-color: #333; /* Dark background for header */
}


/* Navigation Menu Styles */
#navigation-menu {
    padding: 0; /* Remove padding */
}

#navigation-menu ul {
    list-style: none; /* Remove bullet points */
    display: flex; /* Arrange items in a row */
    flex-direction: row; /* Flex items in horizontally */
    justify-content: space-around; /* Space items evenly */
}

#navigation-menu ul li {
    margin: 10px; /* Add margin around items */
}

#navigation-menu ul li a {
    text-decoration: none; /* Remove underline */
    color: white; /* White text color */
}

#navigation-menu ul li a:hover {
    text-decoration: underline; /* Underline links on hover */
}

/* Home Section Styles */
main {
    padding: 20px; /* Add padding to main content */
}

section{
    margin: 20px 0; /* Add padding to each section */
}

p {
   line-height: 1.6; /* Improve readability for paragraphs */
}

h1, h2 {
    color: #0654b3; /* Set heading color to a specific blue */
}

.trivia-item {
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Center items vertically */
    margin: 20px 0;
}

.trivia-item img {
    width: 150px; /* Set image width */
    height: auto; /* Maintain aspect ratio */
    margin-right: 20px; /* Add space to the right of images */
    border-radius: 5px; /* Add rounder corners to images */
}